.container[b-jl4wtx5dv4]{
    display: flex;
    padding: 6px;
    border: 1px solid;
    border-color: lightgrey;
    border-radius: 6px;
    margin-bottom: 10px
}

.image-wrapper[b-jl4wtx5dv4]{
    width: 150px;
    text-align: center;
}

.image[b-jl4wtx5dv4]{
    max-height: 150px;
    max-width: 150px;
    padding: 6px
}

.details[b-jl4wtx5dv4]{
    flex-grow: 1;
    padding: 6px
}

.order-price[b-jl4wtx5dv4]{
    font-weight: 600;
    font-size: 1.2em;
    text-align: right
}