/* /Shared/HomeButton.razor.rz.scp.css */
.home-button[b-bhpobyacx5] {
    white-space: nowrap;
    margin-right: 10px;
    transform: rotate(-5deg);
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-7v9fucczvh] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-7v9fucczvh] {
    flex: 1;
}

.sidebar[b-7v9fucczvh] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-7v9fucczvh] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-7v9fucczvh]  a, .top-row[b-7v9fucczvh]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-7v9fucczvh]  a:hover, .top-row[b-7v9fucczvh]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-7v9fucczvh]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-7v9fucczvh] {
        display: none;
    }

    .top-row.auth[b-7v9fucczvh] {
        justify-content: space-between;
    }

    .top-row[b-7v9fucczvh]  a, .top-row[b-7v9fucczvh]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-7v9fucczvh] {
        flex-direction: row;
    }

    .sidebar[b-7v9fucczvh] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-7v9fucczvh] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-7v9fucczvh]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-7v9fucczvh], article[b-7v9fucczvh] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-d7qi8mznuc] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-d7qi8mznuc] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-d7qi8mznuc] {
    font-size: 1.1rem;
}

.oi[b-d7qi8mznuc] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-d7qi8mznuc] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-d7qi8mznuc] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-d7qi8mznuc] {
        padding-bottom: 1rem;
    }

    .nav-item[b-d7qi8mznuc]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-d7qi8mznuc]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-d7qi8mznuc]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-d7qi8mznuc] {
        display: none;
    }

    .collapse[b-d7qi8mznuc] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/ShopLayout.razor.rz.scp.css */
.page[b-eyye3xe6ci] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-eyye3xe6ci] {
    flex: 1;
}

.nav-menu[b-eyye3xe6ci] {
    background-image: linear-gradient(180deg, rgb(44, 62, 80) 0%, rgb(52, 73, 94) 70%);
}

.top-row[b-eyye3xe6ci] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-eyye3xe6ci]  a, .top-row[b-eyye3xe6ci]  .btn-link {
        white-space: nowrap;
        margin-left: .5rem;
        text-decoration: none;
    }

        .top-row[b-eyye3xe6ci]  a:hover, .top-row[b-eyye3xe6ci]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-eyye3xe6ci]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row.auth[b-eyye3xe6ci] {
        justify-content: space-between;
    }

    .top-row[b-eyye3xe6ci]  a, .top-row[b-eyye3xe6ci]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-eyye3xe6ci] {
        flex-direction: row;
    }

    .top-row[b-eyye3xe6ci] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-eyye3xe6ci]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-eyye3xe6ci], article[b-eyye3xe6ci] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/ShopNavMenu.razor.rz.scp.css */
.navbar-toggler[b-d3ua3ebcma] {
    color: rgba(255, 255, 255, 0.1);
}

.top-row[b-d3ua3ebcma] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-d3ua3ebcma] {
    font-size: 1.1rem;
}

.oi[b-d3ua3ebcma] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-d3ua3ebcma] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

    .nav-item[b-d3ua3ebcma]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-d3ua3ebcma]  a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item[b-d3ua3ebcma]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.flex-nav[b-d3ua3ebcma] {
    flex-direction: column;
}

@media (min-width: 641px) {
    .navbar-toggler[b-d3ua3ebcma], .navbar-toggler-wrapper[b-d3ua3ebcma] {
        display: none;
    }

    .flex-nav[b-d3ua3ebcma] {
        flex-direction: row;
        display: flex;
    }

    .collapse[b-d3ua3ebcma] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/UserButton.razor.rz.scp.css */
.show-menu[b-l31arl77u2] {
    display: block;
}

.user-button[b-l31arl77u2] {
    margin-left: .5em;
}

.top-row a[b-l31arl77u2] {
    margin-left: 0;
}

.dropdown-item:hover[b-l31arl77u2] {
    background-color: white;
}
