@page "/orders/{orderId:int}"
@inject IOrderService OrderService

@if(order == null)
{
    <span>Loading order...</span>
}
else
{
    <h3>Order from @order.OrderDate</h3>

    <div>
        @foreach(var product in order.Products)
        {
            <div class="container">
                <div class="image-wrapper">
                    <img class="image" src="@product.ImageUrl" />
                </div>
                <div class="name">
                    <h5>@product.Title</h5>
                </div>
            </div>
        }
    </div>
}


@code {

    [Parameter]
    public int OrderId { get; set; }

    OrderDetailsResponse order = null;

    protected override async Task OnInitializedAsync()
    {
        order = await OrderService.GetOrderDetails(OrderId);
    }


}
